.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  position: fixed;
  background-color: var(--grey-dark);
  z-index: 1;
  text-transform: uppercase;
}
.navigationLink {
  margin: 0;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid transparent;
  color: var(--white);
  transition: border 0.2s ease-in-out;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.homeLinkLogo {
  height: auto !important;
  width: 30px;
}
.navigationLink:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
}
.navigationLink:active {
  border-bottom: 2px solid var(--yellow);
  font-weight: bold;
}

.homeLink {
  display: inline-block;
  position: absolute;
  position: fixed;
  left: 16px;
  transition: 0.1s !important;
  opacity: 1;
  top: 10px;
}
.homeLink:hover {
  border-bottom: 0 solid transparent;
}

@media (max-width: 600px) {
  .navigation {
    justify-content: flex-end;
  }
  .navigation a {
    padding: 5px 20px;
  }
}

.siteHeader {
  left: 0;
  top: 0;
  right: 0;
  height: 300px;
  margin: 10px auto 0;
  background-color: var(--grey-dark);
  background-image: url('/kajsa-unge-logo-background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px auto;
  position: fixed;
}
@media (min-width: 103.75em) {
  .siteHeader {
    background-size: 170px auto;
    margin: 36px auto 0;
  }
}
/* :empty:not(img):not(header):not(#overlay) {
  display: none;
} */
