*, *:before, *:after, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background: var(--yellow);
}
html {
  font-size: 62.5%;
}
html {
  position: relative;
}
body {
  color: var(--grey-dark);
  font-family: var(--font-family);
  font-size: 16px; font-size: 1.6rem; /* =16px. The double is for browsers to shut up. IE for example */
  letter-spacing: 0.1rem;
  line-height: 1.6;
  font-weight: 300;
  background: var(--white);
}

h1, h2, h3, h4 {
  font-family: var(--font-family-display);
  font-weight: 900;
}

h1 {
  font-size: 55px; font-size: 5.5rem;
  line-height: 1.2;
  font-weight: 900;
}
h2 {
  font-size: 45px; font-size: 4.5rem;
  line-height: 1.2;
}
h3 {
  font-size: 35px; font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}
h4 {
  font-size: 25px; font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}
h5 {
  font-size: 20px; font-size: 2rem;
  line-height: 1.1;
  font-weight: 700;
}
/* medium */
@media (min-width: 62.5em) { 
  h1 { font-size: 75px; font-size: 7.5rem;}
  h2 { font-size: 65px; font-size: 6.5rem;}
  h3 { font-size: 40px; font-size: 4rem;}
  h4 { font-size: 30px; font-size: 3rem;}
  h5 { font-size: 25px; font-size: 2.5rem;}
}
/* large */
@media (min-width: 103.750em) { 
  h1 { font-size: 120px; font-size: 12rem;}
  h2 { font-size: 85px; font-size: 8.5rem;}
  h3 { font-size: 45px; font-size: 4.5rem;}
  h4 { font-size: 35px; font-size: 3.5rem;}
  h5 { font-size: 30px; font-size: 3rem;}
}
a {
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .2rem;
  color: darken(var(--yellow), 5%);
  padding-bottom: 3px;
  border-bottom: 1px solid darken(var(--yellow), 10%);
}
a:hover {
transition: all 0.3s ease;
color: lighten(var(--yellow), 5%);
}
a:active {
transition: all 0.3s ease;
color: var(--yellow);
}
a.disabled {
color: var(--red);
pointer-events: none;
}
.link-yellow {
  transition: all 0.5s ease;
  text-decoration: none;
  letter-spacing: .2rem;
  background: darken(var(--yellow), 5%);
  color: var(--white);
  padding: 3px 6px;
}
.link-yellow:hover {
transition: all 0.3s ease;
background: var(--yellow);
color: var(--white);
}
.link-yellow:active {
  transition: all 0.3s ease;
  background: darken(var(--yellow), 10%);
  color: var(--white);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.user-select-none {
  user-select: none;
}
