.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 2;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.header h1 {
  font-size: 60px;
}
.grid {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

.card {
  box-sizing: border-box;
  border: 0;
  position: relative;
  height: 48%;
  cursor: pointer;
  cursor: pointer;
  transition: 0.2s;
  border: 0px inset #ffd60a;
}
.card:first-child {
  background: radial-gradient(
    ellipse farthest-corner at 0%,
    #e9e1ba 0%,
    #0aff1a 50%,
    #ffd60a 100%
  );
}
.card:first-child:hover,
.card:first-child:focus,
.card:first-child:active {
  transition: 0.7s;
  border: 60px inset #0aff1a;
}

.card:last-child {
  background: radial-gradient(
    ellipse farthest-corner at 0% 90%,
    #ffd60a 0%,
    #0aff1a 50%,
    #e9e1ba 100%
  );
}
.card:last-child:hover,
.card:last-child:focus,
.card:last-child:active {
  transition: 0.7s;
  border: 60px inset #ffd60a;
}

.cardTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.7rem;
  color: var(--grey-dark);
  text-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px;
}

@media (min-width: 859px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .grid {
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 50vw;
  }
}
