.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 2;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.header h1 {
  font-size: 60px;
}
.grid {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

.card {
  box-sizing: border-box;
  border: 0;
  position: relative;
  height: 48%;
  cursor: pointer;
  cursor: pointer;
  border-radius: 4px;
}
.card:first-child {
  background: linear-gradient(
    45deg,
    var(--2025-orange),
    var(--2025-pink),
    var(--2025-blue),
    var(--2025-green)
  );
  background-size: 400% 400%;
}
.card:first-child:hover,
.card:first-child:focus,
.card:first-child:active {
  animation: gradient 15s ease infinite;
}

.card:last-child {
  background: linear-gradient(
    -45deg,
    var(--2025-orange),
    var(--2025-pink),
    var(--2025-blue),
    var(--2025-green)
  );
  background-size: 400% 400%;
}
.card:last-child:hover,
.card:last-child:focus,
.card:last-child:active {
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cardTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.7rem;
  color: var(--white);
  text-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px;
}

@media (min-width: 859px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .grid {
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 50vw;
  }
}
