:root {
  --white: #f7f7f7;
  --white-white: #ffffff;
  --grey: #4b4b4b;
  --grey-dark: #2b2b2b;
  --red-light: #ff554d;
  --red: #d3565e;
  --pine: #18ad93;
  --pine-dark: #08715f;
  --mint: #7be5b0;
  --marine: #39b6cc;
  --blue: #123456;
  --blue-dark: #0a424c;
  --yellow: #e5c333;
  --yellowDarker: #c7a820;
  --2025-pink: #e73c7e;
  --2025-orange: #ee7752;
  --2025-blue: #23a6d5;
  --2025-green: #23d5ab;

  --font-family: Lato, sans-serif;
  --font-family-display: Playfair Display, serif;
  --text-size: '1.6rem';
}

/* mobile : 25em; = 400px
small : 35em; = 560px
medium : 62.5em; = 1000px
large : 103.750em; = 1660px */
