:root {
  --white: #f7f7f7;
  --white-white: #ffffff;
  --grey: #4B4B4B;
  --grey-dark: #2B2B2B;
  --red-light: #ff554d;
  --red: #d3565e;
  --pine: #18ad93;
  --pine-dark: #08715f;
  --mint: #7BE5B0;
  --marine: #39B6CC;
  --blue: #123456;
  --blue-dark: #0A424C;
  --yellow: #E5C333;

  --font-family: Lato, sans-serif;
  --font-family-display: Playfair Display, serif;
  --text-size: '1.6rem';
}

/* mobile : 25em; = 400px
small : 35em; = 560px
medium : 62.5em; = 1000px
large : 103.750em; = 1660px */