.aboutContent {
  width: 60%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutText {
  width: 100%;
  padding-top: 20px;
  color: var(--white);
}

@media (min-width: 62.5em) { 
  .aboutText {
    width: 70%;
  }
}
@media (min-width: 103.750em) {
  .aboutText {
    width: 50%;
  }
 }