.aboutContent {
  width: 60%;
}

.aboutText {
  width: 100%;
  padding-top: 20px;
  color: var(--white);
    /* @include mf-medium {
      width: 70%;
    }
    @include mf-large {
      width: 50%;
    } */
}
